In [60]:
import datetime
import time

def checkTime(func):
    def new_func(*args):
        startsec = time.time()
        dt = datetime.datetime.now()
        print("--------------------------------------------------------------------------")
        print(dt.strftime("[%Y-%m-%d %H:%M:%S]"))
        func(*args)
        print("\n실행시간은:",time.time()-startsec)
        print("--------------------------------------------------------------------------\n")
    return new_func

class Person(object):
    def __init__(self,name,age,gender):
        self.Name = name
        self.Age = age
        self.Gender = gender
    def aboutMe(self):
        print("Name: "+self.Name)
        print("Age:",self.Age)
        print("Gender: "+self.Gender)
        
class Employee(Person):
    id_num = 0
    def __init__(self,name,age,gender,salary,hiredate):
        Person.__init__(self,name,age,gender)
        self.Salary = salary
        self.Hiredate = hiredate
        Employee.id_num+=1
        self._ID = Employee.id_num
    def aboutMe(self):
        Person.aboutMe(self)
        print("Salary:",self.Salary)
        print("Hire Date: "+self.Hiredate)
        print("ID:",self.ID)
    
    @property
    def ID(self):
        return self._ID
    
class Manager(Employee):
    manager_num = 0
    def __init__(self,name,age,gender,salary,hiredate,team,office):
        Employee.__init__(self,name,age,gender,salary,hiredate)
        self.Team = team
        self.Office = office
        Manager.manager_num+=1
    @checkTime
    def aboutMe(self):
        print("***Works as a Manager***")
        Employee.aboutMe(self)
        print("Team: "+self.Team)
        print("Office: "+self.Office)
        self.briefInfo()
    def briefInfo(self):
        print("\nThere are "+str(Manager.manager_num)+" managers among "+str(Manager.id_num)+" employees.")
        
class Staff(Employee):
    def __init__(self,name,age,gender,salary,hiredate,team,manager_name):
        Employee.__init__(self,name,age,gender,salary,hiredate)
        self.Team = team
        self.Manager_name = manager_name
    @checkTime
    def aboutMe(self):
        print("***Works as a Staff***")
        Employee.aboutMe(self)
        print("Team: "+self.Team)
        print("Manager: "+self.Manager_name)
        
class Hourly(Employee):
    def __init__(self,name,age,gender,salary,hiredate,team,manager_name,weekly_hour):
        Employee.__init__(self,name,age,gender,salary,hiredate)
        self.Team = team
        self.Manager_name = manager_name
        self.Weekly_Hour = weekly_hour
        self.Weekly_Pay = salary/4
    @checkTime
    def aboutMe(self):
        print("***Works as an Hourly Staff***")
        Employee.aboutMe(self)
        print("Team: "+self.Team)
        print("Manager: "+self.Manager_name)
        print("Weekly Hour:",self.Weekly_Hour)
        print("Weekly Pay:",self.Weekly_Pay)

In [61]:
Employee.id_num=0
Manager.manager_num=0
manager1 = Manager("Mary",33,"Female",1000000,"2012.5.1","Marketing","B612")
manager2 = Manager("Bob",32,"Male",950000,"2013.4.5","Sales","B402")
staff1 = Staff("Peter",26,"Male",700000,"2019.4.6","Marketing","Mary")
staff2 = Staff("John",27,"Male",800000,"2018.5.4","Sales","Bob")
hourly1 = Hourly("Sam",24,"Female",400000,"2020.3.1","Marketing","Mary",52)
hourly2 = Hourly("Rose",22,"Female",350000,"2020.5.1","Sales","Bob",52)

In [62]:
manager1.aboutMe()
manager2.aboutMe()
staff1.aboutMe()
staff2.aboutMe()
hourly1.aboutMe()
hourly2.aboutMe()

--------------------------------------------------------------------------
[2020-05-01 00:37:53]
***Works as a Manager***
Name: Mary
Age: 33
Gender: Female
Salary: 1000000
Hire Date: 2012.5.1
ID: 1
Team: Marketing
Office: B612

There are 2 managers among 6 employees.

실행시간은: 0.0009653568267822266
--------------------------------------------------------------------------

--------------------------------------------------------------------------
[2020-05-01 00:37:53]
***Works as a Manager***
Name: Bob
Age: 32
Gender: Male
Salary: 950000
Hire Date: 2013.4.5
ID: 2
Team: Sales
Office: B402

There are 2 managers among 6 employees.

실행시간은: 0.000997304916381836
--------------------------------------------------------------------------

--------------------------------------------------------------------------
[2020-05-01 00:37:53]
***Works as a Staff***
Name: Peter
Age: 26
Gender: Male
Salary: 700000
Hire Date: 2019.4.6
ID: 3
Team: Marketing
Manager: Mary

실행시간은: 0.0
--------------------------------------------------------------------------

--------------------------------------------------------------------------
[2020-05-01 00:37:53]
***Works as a Staff***
Name: John
Age: 27
Gender: Male
Salary: 800000
Hire Date: 2018.5.4
ID: 4
Team: Sales
Manager: Bob

실행시간은: 0.0009970664978027344
--------------------------------------------------------------------------

--------------------------------------------------------------------------
[2020-05-01 00:37:53]
***Works as an Hourly Staff***
Name: Sam
Age: 24
Gender: Female
Salary: 400000
Hire Date: 2020.3.1
ID: 5
Team: Marketing
Manager: Mary
Weekly Hour: 52
Weekly Pay: 100000.0

실행시간은: 0.0009987354278564453
--------------------------------------------------------------------------

--------------------------------------------------------------------------
[2020-05-01 00:37:53]
***Works as an Hourly Staff***
Name: Rose
Age: 22
Gender: Female
Salary: 350000
Hire Date: 2020.5.1
ID: 6
Team: Sales
Manager: Bob
Weekly Hour: 52
Weekly Pay: 87500.0

실행시간은: 0.0009951591491699219
--------------------------------------------------------------------------

In [56]:
manager1.briefInfo()
manager2.briefInfo()

There are 2 managers among 6 employees.
There are 2 managers among 6 employees.